.add_ok {
    padding:40px 0;
    text-align:center
}
.add_ok .tip {
    font-size:30px;
    margin-bottom:20px
}
.add_ok .tip i {
    font-size:60px;
    color:#6dc415;
    vertical-align:-4px;
    margin-right:15px
}
.add_ok .go a {
    font-size:18px
}
.add_ok .go a.back {
    color:#3a4e9e;
    margin-right:90px
}
.add_ok .go a.btn {
    padding:10px 45px 12px
}
.cuxiao-box {
    border:1px solid #ccc;
    background-color:#fff
}
.cuxiao-box .hd {
    border-bottom:1px solid #ccc;
    background-color:#f5f5f5;
    padding:12px 30px
}
.cuxiao-bd ul {
    margin-right:-20px
}
.cuxiao-bd li {
    width:200px;
    margin-right:3px;
    padding:20px 0 20px 30px;
    float:left;
    -webkit-transition:background-color .2s;
    -moz-transition:background-color .2s;
    -o-transition:background-color .2s;
    -ms-transition:background-color .2s;
    transition:background-color .2s
}
.cuxiao-bd li p {
    margin-bottom:6px
}
.cuxiao-bd li .pic {
    text-align:center;
    border:1px solid #ccc
}
.cuxiao-bd li .pic img {
    width:190px;
    height:190px;
    vertical-align:top
}
.cuxiao-bd li .price {
    padding:4px 0
}
.cuxiao-bd li .price strong {
    font-size:16px;
    font-weight:400;
    margin:0 2px 0 4px
}
.cuxiao-bd li .price span {
    margin-left:20px;
    color:#bababa
}
.cuxiao-bd li .name a {
    color:#666
}
.cuxiao-bd li .intro {
    color:#bababa
}
.cuxiao-bd li .btn-bd {
    padding-top:6px
}
.cuxiao-bd li:hover .pic {
    border-color:#3a4e9e
}
