html {
    background: #F4F4F4;
}

.my_nala_centre {
    float:right;
    width:818px;
    background-color:#fff;
    margin-top: 20px;
}
.ilizi_centre {
    background:none
}

.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: #FFF;
    border-radius: 4px;
    margin-top: 20px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.my_nala_main
{

}

.slidebar {
    float: left;
    padding: 20px 0;
}

.slidebar li {
    padding: 5px 0px;
}

.portlet {
    margin: 0 0 20px 0;
    padding: 15px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    overflow: hidden;
    width: 330px;
}


.portlet .portlet-title{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 5px;
    border-bottom: #ccc 1px solid;
}

.portlet .portlet-content{
    padding: 10px 0 10px 5px;
    line-height: 20px;
}

.portlet-content .categorylist
{
    float:left;
    width:81px;

    font-size: 14px;
}

.portlet-content .doline
{
    border-bottom:dashed lightgrey 1px;
    margin-bottom: 5px;
}

.brief {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.brief .pic {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    background: no-repeat center center;
    background-size: cover;
    border:1px solid lightgrey;
}

.brief .desc {
    float: left;
}

.brief .title{
    font-size: 18px;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.brief .nav {
    margin: 15px 20px 8px;
    color: #aaaaaa;
    font-size: 13px;
}

.brief .desc .content {
    margin: 0px 20px 0px;
    color: #666;
    font-size: 14px;
    height: 168px;
    float:left;
    width:535px;

}


.post {
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.post .title {
    font-size: 18px;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-top: 10px;
}

.title img
{
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.extdiv
{
    float:right;
}

.title a{
    display: inline;
    vertical-align: middle;
}

.desc .picr
{
    width:200px;
}


.post .banner {
    width:300px;
    height: 300px;
    display: block;
    margin: 5px auto 20px;
    float:left;
    margin-right:20px;
}

.content .realcontent
{
    margin-top: 10px;
}

.post .content {
    margin: 15px 0 8px;
    color: #666;
    font-size: 16px;
}
.post .content p {
    margin: 0px 0 20px 0;
}

.my_nala_centre h4 {
    margin: 0 0 20px 0;
    padding: 15px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    overflow: hidden;
}


.nav span{
    margin-right: 15px;
}

.icon-date
{
    background:url(/images/date.png) 0 0 no-repeat;
    margin-left: 0px;
    padding-left: 20px;
    vertical-align: top;
}

.icon-edit
{
    background:url(/images/writer.png) 0 0 no-repeat;
    margin-left: 0px;
    padding-left: 20px;
    vertical-align: top;
}

.icon-viewers
{
    background:url(/images/viewers.png) 0 0 no-repeat;
    margin-left: 0px;
    padding-left: 20px;
    vertical-align: top;
}

.icon-comments
{
    background:url(/images/comments.png) 0 0 no-repeat;
    margin-left: 0px;
    padding-left: 20px;
    vertical-align: top;
}

.icon-heat
{
    background:url(/images/heat.png) 0 0 no-repeat;
    margin-left: 0px;
    padding-left: 18px;
    vertical-align: top;
}

.icon-exurl
{
    margin-left: 0px;
    vertical-align: top;
    height: 35px;
    display: block;
}

.icon-exurl a
{
    display:inline
}
.content a
{
    color: #000077;
}

.desc div
{
    float:left;
}

.leftpic
{
    float:left;
    width:70px;
}

.rightlink
{
    float:left;
    width:230px;
    padding-left: 20px;
}

.impression
{
    float:right;
}

.impression span
{
    margin-left:10px;

}

.rightlink .righttitle
{
    height: 53px;
}

.leftpic img
{
    width:70px;
    height: 70px;
    display: inline;
    vertical-align:middle;
    border:lightgrey 1px solid;
}

.portlet-content li a
{
    display: inline;
    vertical-align:middle;
}

.titileprice
{
    margin-left: 20px;
    color: red;
    font-weight: 800;
    font-size: 20px;
}

