.form .item {
    display:inline-block;
    display:block;
    margin-bottom:20px;
    line-height:30px
}
.form .item:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
* html .form .item {
    height:1%
}
*+html .form .item {
    min-height:1%
}
.form .item span.label {
    float:left;
    height:18px;
    line-height:18px;
    padding:6px 0;
    width:100px;
    text-align:right
}
.form em {
    color:#3a4e9e
}
.form .itxt, .form .selt, .form .sele, .form .area {
    line-height:18px;
    border:1px solid #ccc;
    padding:5px;
    float:none
}
.form .text {
    line-height:18px;
    border:1px solid #ccc;
    padding:5px
}
.form .selt, .form .sele {
    width:100px
}
.form .selt1 {
    width:70px
}
.form .itxt, .form .text {
    height:18px;
    width:127px;
    padding:5px 23px 5px 5px
}
.form .itxt1 {
    width:287px
}
.form .itxt-focus {
    border-color:#71b247
}
.form .prompt-error {
    clear:both;
    margin-top:5px;
    color:#3a4e9e;
    line-height:18px
}
.form .prompt-03 {
    clear:both;
    margin-top:5px;
    color:#999;
    line-height:18px
}
.form label {
    float:none
}
.form .jdradio, .form .jdcheckbox {
    float:none;
    vertical-align:-2px;
    _vertical-align:-1px;
    margin:0 3px 0 0;
    padding:0
}



.comment-box {
    text-align:left;
    position:relative;
    zoom:1
}
.comment-box .msg-text {
    float:right
}
.comment-box .item {
    margin-bottom:10px
}
.comment-box .item .label em {
    padding-right:3px;
    padding-top:5px;
    vertical-align:middle;
    font-size:16px
}
.comment-box .box-t {
    position:absolute;
    right:84px;
    *right:101px;
    top:-11px;
    width:21px;
    height:12px;
}
.comment-box .btn:hover {
    color:#333
}
.comment-box .commstar {
    background-color:red;
    width:105px;
    height:20px;
    background:url(../images/commstar.jpg) 0 -21px repeat-x;
    position:relative;
    margin-top:5px;
    display:inline-block;
    overflow:hidden;
    zoom:1
}
.comment-box .commstar a {
    width:20%;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    height:20px
}
.comment-box .commstar a:hover, .comment-box .commstar .active {
    background:url(../images/commstar.jpg) left top repeat-x
}
.comment-box .commstar .star1 {
    width:20%;
    z-index:9
}
.comment-box .commstar .star2 {
    width:40%;
    z-index:8
}
.comment-box .commstar .star3 {
    width:60%;
    z-index:7
}
.comment-box .commstar .star4 {
    width:80%;
    z-index:6
}
.comment-box .commstar .star5 {
    width:100%;
    z-index:5
}


.comment-box .cont {
    float:left;
    width:602px;
    word-break:break-all;
    word-wrap:break-word
}
.comment-box .area {
    width:590px;
    height:88px
}
.comment-box .area01 {
    color:#ccc
}
.comment-box .itxt2 {
    width:58px
}
.comment-box .itxt3 {
    width:78px
}
.comment-box .itxt-time {
    width:92px
}
.comment-box label {
    cursor:pointer
}
.comment-box .sign-icon {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:16px;
    height:16px;
    overflow:hidden;
    vertical-align:middle;
    cursor:pointer;
    margin:-3px 3px 0 0;
    background:url(../images/icon-quer.png) no-repeat
}
.comment-box .hide {
    display:none
}
.comment-box .msg-error-01 {
    border:1px solid #FFBDBE;
    background:#FFEBEB;
    color:#E4393C;
    float:left;
    line-height:24px;
    padding:2px 6px
}

