.opation-box {
    border-top:1px solid #c7c7c7;
    padding:10px 30px;
    margin-top:10px;
    background-color:#f4f4f4
}
.opation-box span {
    margin-right:20px
}
.opation-box span input {
    vertical-align:-2px;
    margin-right:5px
}
.opation-box span a, .opation-box span i {
    color:#999
}
.opation-box span i {
    margin-right:4px
}
.fav-list {
    padding:15px 0 0 15px;
    border-top:1px solid #e4e4e4
}
.fav-list li {
    float:left;
    width:170px;
    padding-right:20px;
    border-bottom:1px solid #eee;
    position:relative
}
.fav-list li .bd {
    padding:10px;
    background-color:#fff
}
.fav-list li .pic {
    height:150px
}
.fav-list li .pic img {
    height:150px;
    width:150px;
    vertical-align:top
}
.fav-list li p {
    margin-top:5px
}
.fav-list li .price .huiyuan {
    background-color:#3a4e9e;
    padding:0 3px;
    margin-right:5px;
    color:#fff
}
.fav-list li .price b {
    font-size:14px;
    font-weight:400
}
.fav-list li .xszk {
    padding-left:45px;
    background:url(../images/xsdz-ico.png) 0 center no-repeat
}
.fav-list li .name {
    height:34px;
    overflow:hidden
}
.fav-list li .btm {
    margin-top:12px
}
.fav-list li .btm input {
    vertical-align:-2px
}
.fav-list li .btm span {
    margin-left:20px;
    color:#bbb
}
.fav-list li .btm span a {
    margin:0 5px;
    color:#999;
    font-size:14px
}
.fav-list li .btm span a:hover {
    text-decoration:none;
    color:#3a4e9e
}
.fav-list li.hover .bd {
    background-color:#f6f6f6
}
.pagenav {
    margin-top:-1px
}
