@charset "utf-8";
/* CSS Document */

html {
    background:#fafafa;
    color:#333;
}
html.isPhone {
    min-width:1196px
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, select, textarea, th, td {
    margin:0;
    padding:0
}
body, button, input, select, textarea {
    font:12px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, simsun
}
address, cite, dfn, em, var, i {
    font-style:normal
}
ul, ol {
    list-style:none
}
fieldset, img {
    border:0  
}
h1 {
    font-size:18px
}
h2 {
    font-size:14px;
    font-weight:bold
}
h3 {
    font-size:14px;
    font-weight:400
}
h4, h5 {
    font-size:12px;
    font-weight:400
}
input, textarea, button, select {
    font-size:12px;
    outline:none;
    resize:none;
    color:#333
}
button {
    cursor:pointer
}
table {
    border-collapse:collapse;
    border-spacing:0
}
.clear {
    clear:both;
    height:0;
    font-size:0;
    line-height:0;
    overflow:hidden
}
.cle:after, .clearfix:after, .clear_f:after, .cle_float:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:'\20';
    clear:both;
    height:0
}
.cle, .clearfix, .clear_f, .cle_float {
    *zoom:1
}
.cart_width{
    width: 826px;
}
.fl {
    float:left
}
.fr {
    float:right
}
a {
    text-decoration:none;
    color:#333;
    -webkit-transition:color .2s;
    -moz-transition:color .2s;
    -o-transition:color .2s;
    -ms-transition:color .2s;
    transition:color .2s
}
a:hover {
    text-decoration:underline;
    color:#3a4e9e
}
a:focus, area:focus {
    outline:none
}
::selection {
    background:#3a4e9e;
    color:#fff
}
canvas {
    -ms-touch-action:double-tap-zoom
}
.fs14 {
    font-size:14px
}
.red, a.red, a.red:hover, .pink, a.pink, a.pink:hover {
    color:#b61d1d
}
.gray999, .gray, a.gray, a.gray:hover {
    color:#999
}
.green {
    color:#2b9b2d
}
.blue, .blue:hover {
    color:#09f
}
.svip-ico {
    background-position:0 -18px
}
.msg-ico, .newmsg-menu h3 i, .newmsg-menu .list s, .hd_nav .sub_nav li, .J_subCata .J_subView h3 a, .J_subCata .J_subView a.nav_gallery {
    background:url(../images/header-ico.png?0226) 0 -9999px no-repeat
}

.hd_nav
{
	margin: 0 auto 0px;
}

#wrapper {
    width:1196px;
    margin:10px auto 20px
}
#main {
    width:1008px;
    margin:30px
    auto 50px
}
#header {
    background:#fff;
    zoom:1
}
#header .hd_main {
    width:1196px;
    margin:15px auto 0;
    position:relative;
    background:url(../images/hd_main_bg.png) right  no-repeat;
    z-index:2001
}
.hd_main .logo {
    position:absolute;
    top:7px;
    left:10px;
    z-index:2
}
.hd_main .logo p {
    width:250px;
    height:80px;
    overflow:hidden;
    clear:both
}
.hd_main .logo p a {
    display:block;
    padding-top:80px;
    height:0;
    font-size:0px;
    text-indent:-9999em;
    overflow:hidden;
    float:left
}
.hd_main .logo p a.lizi_logo {
    background:url(../images/logo.png?0816) 0 0 no-repeat;
    width:195px
}
.hd_main .logo p a.lizi_huodong {
    width:112px;
    float:left;
    height:80px;
    padding:0
}
.hd_main .logo p a.lizi_huodong img {
    display:block
}
.hd_main .logo p a:hover {
    text-decoration:none
}
.hd_bar {
    height:34px;
    border-bottom:1px solid #e5e5e5;
    background-color:#f5f5f5;
    position:relative;
    z-index:2002
}
.bd_bar_bd {
    width:1196px;
    margin:0 auto
}
.hd_bar ul {
    padding-top:4px;
    float:left
}
.hd_bar ul.welcome {
    margin-left:-10px
}
.hd_bar ul#userinfo-bar {
    float:right
}
.hd_bar ul#userinfo-bar li .vipico {
    color:#3a4e9e;
    margin-right:4px;
    font-size:18px
}
.hd_bar li {
    float:left;
    position:relative;
    z-index:2000;
    height:17px;
    line-height:17px;
    padding:5px 10px
}
.hd_bar li s {
    color:#ccc;
    margin:0 8px;
    text-decoration:none
}
.hd_bar li a:hover {
    text-decoration:none
}
.hd_bar ul.welcome li .iconfont {
    color:#999;
    margin-right:4px
}
.hd_bar li a.vip-ico {
    background-position:0 3px;
    padding-left:18px
}
.hd_bar li a.svip-ico {
    background-position:0 -23px;
    padding-left:18px
}
.hd_bar li.more-menu {
    padding-right:20px
}
.hd_bar li.more-menu i.arrow {
    position:absolute;
    top:5px;
    right:5px;
    font-size:16px;
    line-height:16px;
    z-index:2002;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s;
    color:#bbb;
    -webkit-backface-visibility:hidden
}
.hd_bar li.more-menu .more-bd {
    position:absolute;
    top:37px;
    right:5px;
    z-index:2000;
    opacity:0;
    visibility:hidden;
    box-shadow:1px 1px 3px rgba(100, 100, 100, 0.3);
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    transition:all .4s
}
.hd_bar .more-bd .list {
    width:94px;
    border:1px solid #ddd;
    background:#fff
}
.hd_bar .more-bd .hezuo_list {
    width:72px
}
.hd_bar .more-bd .list a {
    display:block;
    background-color:#fff;
    border-bottom:1px dashed #d7d7d7;
    padding:6px 10px;
    height:17px;
    overflow:hidden
}
.hd_bar .more-bd .list a:hover {
    background:#f8f8f8;
    color:#333;
    text-decoration:none
}
.hd_bar .more-bd .list a.last {
    border-bottom:none
}
.hd_bar li.hover a.menu-link {
    color:#3a4e9e
}
.hd_bar li.hover i.arrow {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg)
}
.hd_bar li.hover .more-bd {
    top:27px;
    opacity:1;
    visibility:visible
}
#header_guanzhu {
    background:url(../images/guanzhu-ico.png?1013) 72px 5px no-repeat;
    padding-right:62px
}
#header_guanzhu .more-bd {
+visibility: visible;
+display: none
}
#header_guanzhu .more-bd .list {
    padding:15px;
    width:130px;
    height:190px;
    background:#fff url(../images/guanzhu-bg.png?0714) center 50px no-repeat
}
#header_guanzhu .more-bd .list p {
    padding-left:31px;
    height:24px;
    overflow:hidden
}
#header_guanzhu.hover .more-bd {
+display: block
}
.hd_main .intro {
    height:58px;
    margin:0 190px 0 240px;
    padding-top:32px
}
.hd_main .intro ul {
    float:right;
    height:56px
}
.hd_main .intro li {
    float:left;
    width:150px;
    height:46px;
    background:url(../images/webintro-ico.png?0919) 0 -9999px no-repeat;
    overflow:hidden
}
.hd_main .intro li a {
    display:block;
    padding:0 0 0 42px;
    text-decoration:none
}
.hd_main .intro li h4 {
    font-weight:bold;
    font-size:12px
}
.hd_main .intro li p {
    color:#999
}
.hd_main .intro li.no1 {
    background-position:0 1px
}
.hd_main .intro li.no2 {
    background-position:0 -50px
}
.hd_main .intro li.no3 {
    background-position:0 -102px
}
.hd_cart {
    position:absolute;
    right:0;
    top:30px;
    z-index:200
}
.hd_cart a:hover {
    text-decoration:none
}
.hd_cart .tit {
    display:block;
    width:168px;
    height:31px;
    padding-top:12px;
    position:relative;
    z-index:10;
    background: url("../images/hd_nav_bg_hover.png") repeat-x;
    border:1px solid #ccc;
    border-right:none;
    font-size:14px;
    color:#fcfcfc;
}
.hd_cart .tit b {
    color:#aaa;
    margin:0 8px 0 12px;
    font-size:16px;
    cursor:pointer
}
.hd_cart .tit span {
    position:absolute;
    right:0;
    top:0px;
    display:block;
    width:34px;
    height:28px;
    padding-top:12px;
    background-color:#3a4e9e;
    background: url("../images/hd_nav_bg_hover.png") repeat-x;
    text-align:center;
    font-size:12px;
    color:#fff;
    cursor:pointer
}
.hd_cart .tit span i {
    display:inline-block;
    width:20px;
    height:20px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    transition:all .3s;
    -webkit-backface-visibility:hidden
}
.hd_cart .tit em {
    position:absolute;
    left:17px;
    top:-6px;
    text-align:center;
    font-size:12px;
    color:#fff;
    border:2px solid #fff;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color:#b61d1d;
    border-radius:10px;
    padding:0 5px;
    line-height:16px;
    visibility:hidden
}
.hd_cart_hover .tit span i {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg)
}
.hd_cart .list {
    width:220px;
    position:absolute;
    right:0;
    top:44px;
    border:1px solid #3a4e9e;
    background-color:#4b5fad;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    transition:all .3s
}
.hd_cart_hover .list {
    visibility:visible;
    opacity:1;
    top:45px
}
.hd_cart .list .load {
    height:100px
}
.hd_cart .list .fail {
    padding:10px 20px 20px;
    text-align:center;
    color:#999
}
.hd_cart .list .fail i {
    font-size:30px;
    color:#ddd
}
.hd_cart .list .data {
    position:relative;
    zoom:1;
    width:220px;
    overflow:hidden
}
.hd_cart .list .data_over {
    max-height:318px;
    _height:318px;
    overflow-y:auto
}
.hd_cart .list dl {
    padding:5px 8px;
    width:204px;
    height:42px;
    overflow:hidden;
    background:#4b5fad;
    border-bottom:1px dashed #ddd
}
.hd_cart .list dt {
    float:left;
    width:42px
}
.hd_cart .list dt img {
    width:40px;
    height:40px;
    vertical-align:top;
    border:1px solid #ccc
}
.hd_cart .list dd {
    float:right;
    width:152px;
    color:#fcfcfc;
    padding-top:2px;
    position:relative
}
.hd_cart .list .data_over dl {
    width:189px
}
.hd_cart .list .data_over dd {
    width:137px
}
.hd_cart .list dd a {
    color:#fcfcfc;
}
.hd_cart .list dd h4 {
    height:20px;
    overflow:hidden
}
.hd_cart .list dd span {
    color:#fcfcfc;
}
.hd_cart .list dd i {
    display:inline-block;
    font-size:10px;
    -webkit-transform:scale(0.7)
}
.hd_cart .list dd .del {
    position:absolute;
    top:20px;
    right:0;
    color:#fcfcfc;
}
.hd_cart .list .count {
    background-color:#4b5fad;
    color:#fcfcfc;
    padding:10px 8px 14px;
    position:relative
}
.hd_cart .list .count span {
    margin:0 3px;
    color:#ffffff;
}
.hd_cart .list .count em {
    font-size:14px;
    margin-left:2px
}
.hd_cart .list .count p {
    margin-top:12px
}
.hd_cart .list .count a {
    position:absolute;
    top:35px;
    right:10px;
    border-radius:0;
    border:none;
    padding:5px 15px 7px;
    font-size:14px
}
.hd_nav {
    background-color:#3a4e9e;
    background: url("../images/hd_nav_bg.png") repeat-x;
    height:45px
}
.hd_nav .hd_nav_bd {
    padding-left:214px;
    position:relative;
    z-index:1990;
    width:982px;
    margin:0 auto
}
.hd_nav .main_nav {
    position:absolute;
    top:0;
    left:0;
    z-index:1991
}
.hd_nav .main_nav .main_nav_link {
    width:214px;
    height:45px;
    color:#fff;
    background-color:#4b5fad;
    background: url("../images/hd_nav_bg_hover.png") repeat-x;
    overflow:hidden
}
.hd_nav .main_nav .main_nav_link a {
    display:block;
    padding:12px 10px 0 0;
    height:25px;
    font-size:14px;
    text-align:center;
    font-weight:bold;
    color:#fff;
    overflow:hidden
}
.hd_nav .main_nav .main_nav_link a:hover {
    color:#fff;
    text-decoration:none
}
.hd_nav .main_nav .main_nav_link i {
    position:absolute;
    top:10px;
    right:50px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s;
    font-size:12px;
    line-height:16px;
    -webkit-backface-visibility:hidden
}
.hd_nav .main_nav_hover .main_nav_link i {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg)
}
.hd_nav .sub_nav {
    float:left
}
.hd_nav .sub_nav li {
    float:left;
    height:45px;
    overflow:hidden;
    font-size:14px;
    padding-right:1px
}
.hd_nav .sub_nav li a {
    display:inline-block;
    height:21px;
    overflow:hidden;
    padding:12px 28px;
    color:#fff;
    background-color:#3a4e9e
    background: url("../images/hd_nav_bg.png") repeat-x;
}
.hd_nav .sub_nav li.current a, .hd_nav .sub_nav li a:hover {
    color:#fff;
    background-color:#4b5fad;
    background: url("../images/hd_nav_bg_hover.png") repeat-x;
    text-decoration:none
}
#header .search_box {
    position:absolute;
    right:0;
    top:0;
    width:300px;
    height:29px;
    border:3px solid #4b5fad;
    border-right:none;
    background-color:#fff;
    overflow:hidden;
    box-shadow:2px 1px 1px rgba(200, 200, 200, 0.5) inset
}
#header .search_box .sea_input {
    float:left;
    width:228px;
    margin:5px;
    height:20px;
    line-height:20px;
    color:#bbb;
    outline:none;
    border:none;
    background:none
}
#header .search_box .sea_submit {
    font-size:15px;
    color:#fff;
    float:right;
    height:29px;
    width:62px;
    padding-left:6px;
    border:none;
    background-color:#4b5fad;
    cursor:pointer;
    letter-spacing:5px;
    overflow:hidden
}
#header .search_box .sea_submit:hover {
    color:#ffd736
}
.search_result {
    display:none;
    position:absolute;
    border:1px solid #3a4e9e;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);
    width:238px;
    margin:26px 0 0 -6px;
    background-color:#fff;
    z-index:2001;
    overflow-x:hidden
}
.search_result li {
    padding:5px 8px;
    cursor:default;
    background-color:#fff;
    color:#666
}
.search_result li.on {
    background-color:#f4f4f4
}
.new_header .search_result {
    margin:27px 0 0 -9px;
    width:380px
}
.new_header .hd_cart {
    top:0
}
.new_header .hd_cart .tit {
    border-color:#4b5fad
}
.new_header .hd_cart .tit span {
    background-color:#4b5fad
}
#header.new_header .hd_main {
    margin-top:20px;
    height:90px;
    padding-bottom:5px
}
.new_header .hd_main .intro {
    margin:0;
    position:absolute;
    right:0;
    width:352px
}
.new_header .hd_main .intro li {
    width:125px
}
.new_header .hd_main .intro li.no2 {
    width:116px
}
.new_header .hd_main .intro li.no3 {
    width:110px
}
#header.new_header .search_box {
    right:394px;
    top:14px;
    width:460px;
    height:32px;
    border-color:#b61d1d
}
#header.new_header .search_box .sea_input {
    margin:7px 8px 0;
    width:360px
}
#header.new_header .search_box .sea_submit {
    background-color:#b61d1d;
    width:60px;
    height:32px
}
.head_search_hot {
    position:absolute;
    top:58px;
    right:404px;
    width:450px;
    height:16px;
    overflow:hidden
}
.head_search_hot span {
    color:#999
}
.head_search_hot a {
    margin:0 8px 0 5px;
    color:#666
}
.head_search_hot a.red, .head_search_hot a:hover {
    color:#3a4e9e
}
.main_cata {
    width:214px;
    height:0;
    opacity:0;
    display:none;
    filter:Alpha(opacity=0);
    position:absolute;
    left:0;
    top:45px;
    z-index:1999;
    padding-bottom:10px
}
.main_cata ul {
    width:214px;
    overflow:hidden;
    background-color:#4b5fad;
    box-shadow:-2px 4px 4px rgba(200, 200, 200, 0.3)
}
.main_cata li {
    width:212px;
    border:1px solid #3a4e9e;
    border-bottom:none;
    overflow:hidden;
    font-size:0;
    padding: 2px 0 0 0;
}
.main_cata li a {
    font-size:12px
}
.main_cata li h3 {
    padding:6px 14px 4px;
    font-weight:bold
}
.main_cata li h3 a {
    font-size:14px;
    color:#fcfcfc;
}
.main_cata li .bd {
    padding:0 0 6px 14px;
    margin-right:-10px
}
.main_cata li .bd a {
    color:#fcfcfc;
    display:inline-block;
    margin-right:14px;
    line-height:22px
}
.main_cata li.first {
    border-top:none
}
.main_cata li.last {
    padding:0;
    box-shadow:0 4px 3px rgba(200, 200, 200, 0.3)
}
.main_cata li.last a {
    display:inline-block;
    width:48%;
    height:54px;
    text-align:center;
    line-height:54px;
    overflow:hidden;
    font-weight:bold;
    font-size:14px;
    color: #fcfcfc;
}
.main_cata li.last a.no2 {
    border-left:1px solid #3a4e9e;
}
.main_cata li.current {
    background-color:#eee;
    border-right-color:#eee;
    box-shadow:0 0 10px #eee
}
.main_cata li.current h3 a, .main_cata li.current a:hover {
    color:#3a4e9e
}
#header.new_header .cart_guide {
    right:0px;
    top:14px;
    width:481px;
    height:30px;
    position: absolute;
}
.progress-1 {
    background: url("../images/step1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    overflow: hidden;
    padding-top: 23px;
    width: 481px;
}
.progress-1 li {
    color: #bce8a3;
    float: left;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 160px;
}
.progress-1 li.s1 {
    color: #7abd54;
    width: 161px;
}
.progress-2 {
    background: url("../images/step2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    overflow: hidden;
    padding-top: 23px;
    width: 481px;
}
.progress-2 li {
    color: #bce8a3;
    float: left;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 160px;
}
.progress-2 li.s2 {
    color: #7abd54;
    width: 161px;
}
.progress-3 {
    background: url("../images/step3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    overflow: hidden;
    padding-top: 23px;
    width: 481px;
}
.progress-3 li {
    color: #bce8a3;
    float: left;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 160px;
}
.progress-3 li.s3 {
    color: #7abd54;
    width: 161px;
}
.J_subCata {
    position:absolute;
    top:35px;
    left:100px;
    opacity:0;
    filter:Alpha(opacity=0);
    z-index:1998;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -ms-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease
}
.J_subCata .J_subView {
    border:1px solid #3a4e9e;
    width:210px;
    min-height:228px;
    padding-top:5px;
    overflow:hidden;
    background-color:#3a4e9e;
    position:relative;
    box-shadow:3px 3px 4px rgba(0, 0, 0, 0.3);
    display:none
}
.J_subCata .J_subView dl {
    padding:0 12px 12px
}
.J_subCata .J_subView dt {
    font-size:14px;
    padding-bottom:3px;
    border-bottom:1px solid #4b5fad;
    margin-bottom:4px;
    +zoom: 1;
    color:#fcfcfc;
}
.J_subCata .J_subView dd {
    padding-top:5px;
    margin-right:-15px
}
.J_subCata .J_subView dd a {
    display:inline-block;
    margin-right:14px;
    color:#fcfcfc;
    line-height:22px
}
.J_subCata .J_subView dd.kuan_cata a {
    margin-right:30px
}
.J_subCata .J_subView dd.brand_cata {
    font-size:0
}
.J_subCata .J_subView dd.brand_cata a {
    display:inline-block;
    width:84px;
    height:32px;
    border:1px solid #ccc;
    text-align:center;
    margin:0 13px 8px 0;
    overflow:hidden;
    background-color:#fff
}
.J_subCata .J_subView dd.brand_cata a img {
    width:64px;
    height:32px;
    vertical-align:top
}
.J_subCata .J_subView dd a:hover {
    color:#fcfcfc;
    border-color:#3a4e9e
}

#footer {
    background:#3a4e9e;
    padding-bottom: 30px;
}


.footer-ensure-center{
    width:1196px;
    margin:auto auto;
    vertical-align: middle;
    height: 54px;
}

.shadowbar
{
    height: 4px;
    background: url(http://7xkwre.com1.z0.glb.clouddn.com/footbarsplit.png) bottom left repeat-x;
}

.footer-ensure-center img
{
    margin:0px auto;
    padding-top: 10px;
    padding-left: 197px;
    width: 801px;
}

#footer .ft_main {
    width:1196px;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 25px;
}

.ft_main .footlogo
{
    float:left;
    width:254px;
    border-right: #fff 1px solid;
    padding-left: 0px;
}

.ft_main .footlogo img
{
    padding-left:49px;
}

.ft_main #footlogo
{
    width:156px;
}

.ft_main .links
{
    float: left;
    width: 105px;
    border-right: #fff 1px solid;
    color: #ffffff;
    padding-left: 30px;
    height: 222px;
}

.ft_main .bicode
{
    float: left;
    width: 142px;
    padding-left: 30px;

    height: 222px;
}
.ft_main .contacts
{
    float: left;
    width: 202px;
    border-right: #fff 1px solid;
    color: #ffffff;
    padding-left: 30px;
    height: 222px;
}

.foot_bottom
{
    color: #ffffff;
    height: 54px;
    width:1196px;
    margin:0 auto;
}



.leftbottom
{
    float:left;
    width:670px;
    font-size: 16px;
    padding-left:10px;
}

.leftbottom span
{
    line-height: 54px;
    vertical-align: middle;
}


.leftbottom a{
    color: #ffffff;
}

.rightbottom
{
    float:right;
    width:520px;
}

.beian-logos
{
    padding-top:6px;
}

.beian-logos li{
    float:left;
    margin-right: 20px;
}

.ft_main .contacts ul
{
    font-size:14px;

}

.ft_main .contacts li
{
    line-height: 40px;
}

.contacts .phone
{
    background: url(http://7xkwre.com1.z0.glb.clouddn.com/phone.png) no-repeat left center;
    vertical-align: top;
    padding-left: 35px;
}

.contacts .weixin
{
    background: url(http://7xkwre.com1.z0.glb.clouddn.com/wechat.png)  no-repeat left center ;
    vertical-align: middle;
    padding-left: 35px;
}

.contacts .QQ
{
    background: url(http://7xkwre.com1.z0.glb.clouddn.com/qq.png) no-repeat left center;
    vertical-align: middle;
    padding-left: 35px;
}

.contacts .email
{
    background: url(http://7xkwre.com1.z0.glb.clouddn.com/email.png) no-repeat left center;
    vertical-align: middle;
    padding-left: 35px;
}




.ft_main .linksheader
{
    font-size:18px;
    margin-bottom: 30px;
    color:#ffffff;
}

.bicode .weichatcode
{
    padding-top:10px
}

.ft_main .links ul{
    font-size:14px;
}

.ft_main .links li
{
    line-height: 30px;
}

.ft_main .links li a
{
    color: #ffffff;
}

#footer .ft_cata {
    display:none
}
#footer .ft_nav {
    height:22px;
    padding:5px 0 20px;
    text-align:center
}
#footer .ft_nav a {
    display:inline-block;
    padding:0 20px 0 21px;
    background:url(../images/border-right.png) no-repeat 0 center
}
#footer .ft_nav a.noborder {
    background:none
}
#footer .img_links {
    background:url(../images/foot_intro.png) no-repeat center 0;
    height:125px;
    position:relative
}
#footer .img_links a {
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    display:block;
    width:80px;
    height:110px
}
#footer .img_links a.no1 {
    left:90px
}
#footer .img_links a.no2 {
    left:244px
}
#footer .ft_txt {
    text-align:center;
    padding:8px 0
}
#footer .ft_txt p {
    padding:5px 0;
    color:#666
}
#footer .ft_txt .ft_phone {
    font-size:14px
}
#footer .ft_txt .ft_phone em {
    color:#333;
    font-weight:bold
}
#footer .ft_txt .ft_contact span {
    display:inline-block;
    padding:0 20px
}
#footer .ft_txt .beian-logos {
    padding-top:15px
}
#footer .ft_txt .beian-logos a {
    margin:0 5px
}
#footer .ft_txt .beian-logos a:hover {
    text-decoration:none
}
#footer .ft_txt .beian-logos img {
    width:108px;
    height:40px;
    vertical-align:top;
    border:1px solid #ddd;
    border-radius:2px
}
#footer .ft_txt .beian-logos img.no-border {
    border-color:#fff
}
#footer .ft_txt .link {
    padding:5px 0;
    color:#999;
    display:none
}
#footer .ft_txt .link a {
    margin:0 5px;
    color:#999
}
#footer .ft_txt .link a:hover {
    color:#3a4e9e
}
#footer .ft_txt .weixin-logo {
    float: right;
}
#footer .ft_txt .ft_main_txt {
    float: right;
    width: 1000px;
}
#footer .ft_txt .weixin-logo .weixin-logo-img img {
    width:100px;
}
.tongji-js {
    display:none
}
.tb_box {
    position:fixed;
    z-index:1000;
    bottom:20px;
    left:50%;
    margin-left:610px;
    _position:absolute;
    _top:expression((document).documentElement.scrollTop+(document).documentElement.clientHeight-100)
}
.tb_box .tb_bd {
    width:84px;
    overflow:hidden
}
.tb_box .tb_bd li {
    margin-bottom:5px;
    height:42px;
    overflow:hidden
}
.tb_box .tb_bd li a {
    height:42px;
    background-color:#fff;
    color:#fff;
    display:block;
    overflow:hidden;
    text-align:center;
    position:relative;
    cursor:pointer
}
.tb_box .tb_bd li img {
    background:url(../images/right-fixed-ico.png) 0 -9999px no-repeat;
    width:25px;
    height:42px;
    vertical-align:top
}
.tb_box .tb_bd li p {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s
}
.tb_box .tb_bd li p span {
    display:block;
    height:42px;
    overflow:hidden;
    font-size:14px;
    line-height:42px;
    background-color:#3a4e9e
}
.tb_box .tb_bd li .kefu img {
    background-position:0 8px
}
.tb_box .tb_bd li .back2top img {
    background-position:0 -45px
}
.tb_box .tb_bd li a:hover {
    zoom:1;
    text-decoration:none
}
.tb_box .tb_bd li a:hover p {
    top:-42px
}
.is1280 .tb_box {
    margin-left:0;
    left:auto;
    right:0
}
.is1280 .tb_box .tb_bd {
    width:36px
}
.is1280 .tb_box .tb_bd li p span {
    line-height:18px;
    padding-top:2px;
    height:40px
}
i.icon_tags {
    display:block;
    position:absolute;
    z-index:18;
    width:82px;
    height:30px;
    background:url(../images/item-icos-new.png) -9999px 0 no-repeat;
    _background:url(../images/item-icos-new-ie6.png) -9999px 0 no-repeat;
    text-indent:-999em;
    overflow:hidden;
    left:0;
    top:10px;
    color:#fff
}
i.icon_tag01 {
    background-position:0 -103px
}
i.icon_tag02 {
    background-position:0 -68px
}
i.icon_tag03 {
    background-position:0 -34px
}
i.icon_tag04 {
    background-position:0 -00px
}
a.addcart {
    display:none
}
a.productitem {
    display:block;
+zoom: 1;
    cursor:pointer;
    background-color:#fff;
    border:1px solid #eee;
    padding-bottom:8px;
    position:relative;
    overflow:hidden
}
a.productitem span {
    padding:0 10px
}
a.productitem span.productimg {
    display:block;
    background:url(../images/loading-16.gif) center center no-repeat;
    margin-bottom:10px;
    padding:0
}
a.productitem span.productimg img {
    vertical-align:top;
    display:block
}
a.productitem span.nalaprice {
    color:#3a4e9e;
    font-size:14px;
    display:block
}
a.productitem span.productname {
    display:block;
    height:35px;
    line-height:16px;
    overflow:hidden;
    color:#666
}
a.productitem span.description {
    display:block;
    height:16px;
    overflow:hidden;
    color:#999
}
a.productitem span.salerow {
    display:block;
    color:#999
}
a.productitem span.sales {
    color:#3a4e9e;
    padding:0 2px
}
a.productitem span.xszk {
    padding-left:55px;
    background:url(../images/xsdz-ico.png?0226) 10px center no-repeat
}
a.productitem span.price {
    display:none
}
a.productitem:hover {
    text-decoration:none;
    border-color:#3a4e9e
}
a.nextpage {
    border:1px solid #fadbc1;
    display:block;
    height:338px;
    background:#ffe7d2 url(../images/nextpage-bg.png) center center no-repeat;
    position:relative
}
a.nextpage i {
    position:absolute;
    right:-3px;
    bottom:-2px;
    display:block;
    width:21px;
    height:21px;
    background:url(../images/nextpage-bg2.png) center center no-repeat;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    overflow:hidden
}
a.nextpage:hover i {
    right:-1px;
    bottom:-1px;
    width:41px;
    height:41px
}
.soldout_mod a.productitem span.nalaprice {
    color:#666
}
.soldout_mod a.productitem span.sales {
    color:#333
}
.soldout_mod span.soldout_txt {
    position:absolute;
    top:242px;
    right:13px
}
.btn, .btn-css3 {
    display:inline-block;
    padding:5px 12px;
    height:16px;
    line-height:16px;
    _line-height:18px;
    border:1px solid #b61d1d;
    border-radius:3px;
    font-size:100%;
    color:#fff;
    background-color:#b61d1d;
    overflow:hidden;
    vertical-align:middle
}
.btn:hover, .btn-css3:hover {
    text-decoration:none;
    color:#fff;
    background:#b61d1d
}
.btn img, .btn-css3 img {
    vertical-align:middle
}
.graybtn {
    display:inline-block;
    padding:5px 12px;
    height:16px;
    line-height:16px;
    border:1px solid #c4c4c4;
    border-radius:2px;
    font-size:100%;
    color:#666;
    background-color:#efefef;
    background-image:-webkit-linear-gradient(#f8f8f8, #e5e5e5);
    background-image:-moz-linear-gradient(#f8f8f8, #e5e5e5);
    background-image:linear-gradient(#f8f8f8, #e5e5e5);
    background-repeat:repeat-x;
    vertical-align:middle
}
.graybtn:hover {
    text-decoration:none;
    color:#666;
    background:#e5e5e5
}
.ok-tip, .success-tip, .warn-tip, .confirm-tip {
    font-size:14px
}
.ok-tip .iconfont, .success-tip .iconfont, .warn-tip .iconfont, .confirm-tip .iconfont {
    color:#3a4e9e;
    font-size:24px;
    margin-right:10px
}
.ok-tip .iconfont {
    color:#59bbec;
    font-size:30px
}
.success-tip {
    font-size:22px
}
.success-tip .iconfont {
    color:#090;
    font-size:36px
}
.confirm-tip .iconfont {
    color:#0baee4;
    font-size:22px
}
.aui_inner table {
    width:100%
}
.aui_loading {
    padding:20px 0 0;
    background:url(../images/loading-16.gif) center 0 no-repeat;
    text-align:center;
    overflow:hidden;
    color:#bbb
}
.aui_inner {
    background:#fafafa;
    box-shadow:1px 1px 3px rgba(100, 100, 100, 0.3);
    border:1px solid #989898
}
.aui_main {
    vertical-align:top
}
.aui_content {
    min-width:200px
}
.aui_titleBar {
    position:relative;
    border-bottom:1px solid #fff
}
.aui_titleBar .aui_title {
    font-size:20px;
    padding:10px 20px;
    border-bottom:1px solid #e0e0e0
}
.aui_close {
    background-image:url(../images/ico.png);
    background-position:0 0;
    top:12px;
    right:12px;
    position:absolute;
    text-indent:-9999px;
    width:24px;
    height:24px;
    overflow:hidden;
    margin-right:0
}
.aui_close:hover {
    background-position:0 -24px
}
.aui_buttons {
    background-color:#F6F6F6;
    border-top:1px solid #eee;
    padding:6px 10px;
    text-align:right
}
.aui_dialog button {
    margin-left:15px;
    padding:6px 8px;
    cursor:pointer;
    display:inline-block;
    text-align:center;
    line-height:1;
    *padding:4px 6px;
    *height:2em;
    letter-spacing:2px;
    color:#999;
    border:solid 1px #ccc;
    border-radius:2px;
    background:#eee
}
.aui_dialog button:hover {
    background:#ddd
}
.aui_dialog button.highlight {
    color:#fff;
    border:solid 1px #38abe4;
    background:#59bbec
}
.aui_dialog button.highlight:hover {
    background:#7accf4
}
.dialog_success .aui_close, .dialog_confirm .aui_close, .dialog_ok .aui_close, .dialog_warn .aui_close {
    display:none
}
.aui_outer {
    -webkit-animation:pop_in .5s
}
@-webkit-keyframes pop_in {
    0% {
        -webkit-transform:scale(0.6);
        opacity:0
    }
    50% {
        -webkit-transform:scale(1.05);
        opacity:1
    }
    100% {
        -webkit-transform:scale(1);
        opacity:1
    }
}
.dialog_login_box {
    width:320px;
    height:430px;
    padding:15px 30px;
    background:#fff
}
#login-box h2 {
    font-size:18px;
    font-style:normal;
    font-weight:100;
    letter-spacing:5px
}
#login-box .trig {
    float:right;
    font-size:12px;
    letter-spacing:0px
}
#login-box .trig a {
    text-decoration:underline
}
.dialog_login_box .form-bd {
    margin:15px 0;
    position:relative;
    height:239px;
    width:320px;
    overflow:hidden
}
.dialog_login_box .form_box {
    position:absolute;
    width:640px
}
.dialog_login_box .login_box, .prve_login {
    float:left
}
#login-box .form {
    width:320px
}
#login-nala-form li h5 {
    font-size:14px;
    color:#999
}
#login-nala-form li span.iconfont {
    display:inline-block;
    text-align:center;
    color:#aaa;
    font-size:18px;
    vertical-align:middle;
    margin:0 6px
}
#login-nala-form li input.text {
    width:240px;
    padding:4px 6px;
    height:18px;
    line-height:18px;
    overflow:hidden;
    border:none;
    border-left:1px solid #ccc;
    color:#333;
    vertical-align:middle;
    color:#333;
    margin-left:2px;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    transition:all .25s ease
}
#login-nala-form li.text_input {
    border:1px solid #ccc;
    line-height:18px;
    padding:6px;
    position:relative;
    margin-bottom:24px;
    zoom:1
}
#login-nala-form li {
    line-height:18px;
    padding:6px 0;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    transition:all .25s ease
}
#login-nala-form li.last {
    text-align:center;
    margin-bottom:30px;
    margin-top:10px
}
#login-nala-form li.last p {
    margin-bottom:10px
}
#login-nala-form li.last .btn {
    height:50px;
    width:100%;
    text-align:center;
    color:#fff;
    letter-spacing:5px;
    cursor:pointer;
    font-size:18px;
    border:none
}
#login-nala-form li.last .disabled {
    background:#eee url(../images/loading.gif) 110px 18px no-repeat;
    cursor:default;
    color:#999
}
#login-nala-form li p .remember-me {
    margin-right:10px;
    vertical-align:-2px
}
#login-nala-form li p a.forget_psd {
    float:right;
    text-decoration:underline
}
#login-nala-form li.params_error {
    border-color:#fe655c
}
#login-nala-form li.params_error input.text {
    border-left-color:#fe655c
}
#login-nala-form li.error_box {
    padding:0;
    height:16px;
    margin-top:-12px;
    margin-bottom:5px;
    color:#fe655c
}
#login-nala-form li.text_input .error_icon {
    background:url(../images/error_icon.png) 0 -50px no-repeat;
    position:absolute;
    width:14px;
    height:14px;
    right:10px;
    top:10px
}
#login-nala-form li.params_error .error_icon {
    background-position:0 0
}
#login-nala-form li.text_input input:-webkit-autofill {
    -webkit-box-shadow:0 0 0px 1000px white inset
}
#login-last {
    padding-top:5px
}
#login-last li {
    padding-bottom:25px
}

#login-last i.iconfont {
    margin-right:4px;
    color:#999;
    font-size:14px
}

#login-box.trg {
    padding:12px;
    font-size:14px;
    margin-top:20px
}
.other-login {
    font-size:0
}
.other-login a {
    margin-top:0;
    vertical-align:top;
    margin-right:10px;
    background:url(../images/other-login-bg.png) center no-repeat;
    display:inline-block;
    width:30px;
    height:30px;
    overflow:hidden
}
.other-login a.sina {
    background-position:0px 0
}
.other-login a.qq {
    background-position:-40px 0
}
.other-login a.alipay {
    background-position:-80px 0
}
.other-login a.taobao {
    background-position:-120px 0
}
.other-login a.baidu {
    background-position:-160px 0
}
.other-login a.qihoo360 {
    background-position:-200px 0
}
.other-login a:hover {
    text-decoration:none;
    opacity:0.8;
    filter:Alpha(opacity=80)
}
.other-form li h5 {
    margin-top:50px
}
.other-form li {
    padding-bottom:8px;
    margin-bottom:10px
}
.pagenav {
    padding:10px 0;
    font-size:14px;
    text-align:right
}
.pagenav a {
    margin-left:4px;
    padding:4px 10px;
    font-size:14px;
    border:1px solid #eee;
    background-color:#fff;
    border-radius:2px
}
.pagenav a:hover {
    color:#3a4e9e;
    border-color:#3a4e9e;
    text-decoration:none
}
.pagenav span.currentStep {
    padding:4px 8px;
    margin-left:3px;
    font-weight:bold
}
.pagenav span.step {
    color:#999;
    margin:0 5px
}
.g_box {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(204, 204, 204, 0.5);
    float: right;
    height: 430px;
    padding: 15px 30px;
    width: 320px;
}

/****** user ******/
#header .cart_width{
    width: 1008px;
}
.form li select {
    margin-top: 5px;
    vertical-align: middle;
    margin-right: 5px;
}

.pagination-right {
    text-align: right;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}







@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('glyphicons-halflings-regular.eot');
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
    content: "\2a";
}
.glyphicon-plus:before {
    content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
    content: "\20ac";
}
.glyphicon-minus:before {
    content: "\2212";
}
.glyphicon-cloud:before {
    content: "\2601";
}
.glyphicon-envelope:before {
    content: "\2709";
}
.glyphicon-pencil:before {
    content: "\270f";
}
.glyphicon-glass:before {
    content: "\e001";
}
.glyphicon-music:before {
    content: "\e002";
}
.glyphicon-search:before {
    content: "\e003";
}
.glyphicon-heart:before {
    content: "\e005";
}
.glyphicon-star:before {
    content: "\e006";
}
.glyphicon-star-empty:before {
    content: "\e007";
}
.glyphicon-user:before {
    content: "\e008";
}
.glyphicon-film:before {
    content: "\e009";
}
.glyphicon-th-large:before {
    content: "\e010";
}
.glyphicon-th:before {
    content: "\e011";
}
.glyphicon-th-list:before {
    content: "\e012";
}
.glyphicon-ok:before {
    content: "\e013";
}
.glyphicon-remove:before {
    content: "\e014";
}
.glyphicon-zoom-in:before {
    content: "\e015";
}
.glyphicon-zoom-out:before {
    content: "\e016";
}
.glyphicon-off:before {
    content: "\e017";
}
.glyphicon-signal:before {
    content: "\e018";
}
.glyphicon-cog:before {
    content: "\e019";
}
.glyphicon-trash:before {
    content: "\e020";
}
.glyphicon-home:before {
    content: "\e021";
}
.glyphicon-file:before {
    content: "\e022";
}
.glyphicon-time:before {
    content: "\e023";
}
.glyphicon-road:before {
    content: "\e024";
}
.glyphicon-download-alt:before {
    content: "\e025";
}
.glyphicon-download:before {
    content: "\e026";
}
.glyphicon-upload:before {
    content: "\e027";
}
.glyphicon-inbox:before {
    content: "\e028";
}
.glyphicon-play-circle:before {
    content: "\e029";
}
.glyphicon-repeat:before {
    content: "\e030";
}
.glyphicon-refresh:before {
    content: "\e031";
}
.glyphicon-list-alt:before {
    content: "\e032";
}
.glyphicon-lock:before {
    content: "\e033";
}
.glyphicon-flag:before {
    content: "\e034";
}
.glyphicon-headphones:before {
    content: "\e035";
}
.glyphicon-volume-off:before {
    content: "\e036";
}
.glyphicon-volume-down:before {
    content: "\e037";
}
.glyphicon-volume-up:before {
    content: "\e038";
}
.glyphicon-qrcode:before {
    content: "\e039";
}
.glyphicon-barcode:before {
    content: "\e040";
}
.glyphicon-tag:before {
    content: "\e041";
}
.glyphicon-tags:before {
    content: "\e042";
}
.glyphicon-book:before {
    content: "\e043";
}
.glyphicon-bookmark:before {
    content: "\e044";
}
.glyphicon-print:before {
    content: "\e045";
}
.glyphicon-camera:before {
    content: "\e046";
}
.glyphicon-font:before {
    content: "\e047";
}
.glyphicon-bold:before {
    content: "\e048";
}
.glyphicon-italic:before {
    content: "\e049";
}
.glyphicon-text-height:before {
    content: "\e050";
}
.glyphicon-text-width:before {
    content: "\e051";
}
.glyphicon-align-left:before {
    content: "\e052";
}
.glyphicon-align-center:before {
    content: "\e053";
}
.glyphicon-align-right:before {
    content: "\e054";
}
.glyphicon-align-justify:before {
    content: "\e055";
}
.glyphicon-list:before {
    content: "\e056";
}
.glyphicon-indent-left:before {
    content: "\e057";
}
.glyphicon-indent-right:before {
    content: "\e058";
}
.glyphicon-facetime-video:before {
    content: "\e059";
}
.glyphicon-picture:before {
    content: "\e060";
}
.glyphicon-map-marker:before {
    content: "\e062";
}
.glyphicon-adjust:before {
    content: "\e063";
}
.glyphicon-tint:before {
    content: "\e064";
}
.glyphicon-edit:before {
    content: "\e065";
}
.glyphicon-share:before {
    content: "\e066";
}
.glyphicon-check:before {
    content: "\e067";
}
.glyphicon-move:before {
    content: "\e068";
}
.glyphicon-step-backward:before {
    content: "\e069";
}
.glyphicon-fast-backward:before {
    content: "\e070";
}
.glyphicon-backward:before {
    content: "\e071";
}
.glyphicon-play:before {
    content: "\e072";
}
.glyphicon-pause:before {
    content: "\e073";
}
.glyphicon-stop:before {
    content: "\e074";
}
.glyphicon-forward:before {
    content: "\e075";
}
.glyphicon-fast-forward:before {
    content: "\e076";
}
.glyphicon-step-forward:before {
    content: "\e077";
}
.glyphicon-eject:before {
    content: "\e078";
}
.glyphicon-chevron-left:before {
    content: "\e079";
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.glyphicon-plus-sign:before {
    content: "\e081";
}
.glyphicon-minus-sign:before {
    content: "\e082";
}
.glyphicon-remove-sign:before {
    content: "\e083";
}
.glyphicon-ok-sign:before {
    content: "\e084";
}
.glyphicon-question-sign:before {
    content: "\e085";
}
.glyphicon-info-sign:before {
    content: "\e086";
}
.glyphicon-screenshot:before {
    content: "\e087";
}
.glyphicon-remove-circle:before {
    content: "\e088";
}
.glyphicon-ok-circle:before {
    content: "\e089";
}
.glyphicon-ban-circle:before {
    content: "\e090";
}
.glyphicon-arrow-left:before {
    content: "\e091";
}
.glyphicon-arrow-right:before {
    content: "\e092";
}
.glyphicon-arrow-up:before {
    content: "\e093";
}
.glyphicon-arrow-down:before {
    content: "\e094";
}
.glyphicon-share-alt:before {
    content: "\e095";
}
.glyphicon-resize-full:before {
    content: "\e096";
}
.glyphicon-resize-small:before {
    content: "\e097";
}
.glyphicon-exclamation-sign:before {
    content: "\e101";
}
.glyphicon-gift:before {
    content: "\e102";
}
.glyphicon-leaf:before {
    content: "\e103";
}
.glyphicon-fire:before {
    content: "\e104";
}
.glyphicon-eye-open:before {
    content: "\e105";
}
.glyphicon-eye-close:before {
    content: "\e106";
}
.glyphicon-warning-sign:before {
    content: "\e107";
}
.glyphicon-plane:before {
    content: "\e108";
}
.glyphicon-calendar:before {
    content: "\e109";
}
.glyphicon-random:before {
    content: "\e110";
}
.glyphicon-comment:before {
    content: "\e111";
}
.glyphicon-magnet:before {
    content: "\e112";
}
.glyphicon-chevron-up:before {
    content: "\e113";
}
.glyphicon-chevron-down:before {
    content: "\e114";
}
.glyphicon-retweet:before {
    content: "\e115";
}
.glyphicon-shopping-cart:before {
    content: "\e116";
}
.glyphicon-folder-close:before {
    content: "\e117";
}
.glyphicon-folder-open:before {
    content: "\e118";
}
.glyphicon-resize-vertical:before {
    content: "\e119";
}
.glyphicon-resize-horizontal:before {
    content: "\e120";
}
.glyphicon-hdd:before {
    content: "\e121";
}
.glyphicon-bullhorn:before {
    content: "\e122";
}
.glyphicon-bell:before {
    content: "\e123";
}
.glyphicon-certificate:before {
    content: "\e124";
}
.glyphicon-thumbs-up:before {
    content: "\e125";
}
.glyphicon-thumbs-down:before {
    content: "\e126";
}
.glyphicon-hand-right:before {
    content: "\e127";
}
.glyphicon-hand-left:before {
    content: "\e128";
}
.glyphicon-hand-up:before {
    content: "\e129";
}
.glyphicon-hand-down:before {
    content: "\e130";
}
.glyphicon-circle-arrow-right:before {
    content: "\e131";
}
.glyphicon-circle-arrow-left:before {
    content: "\e132";
}
.glyphicon-circle-arrow-up:before {
    content: "\e133";
}
.glyphicon-circle-arrow-down:before {
    content: "\e134";
}
.glyphicon-globe:before {
    content: "\e135";
}
.glyphicon-wrench:before {
    content: "\e136";
}
.glyphicon-tasks:before {
    content: "\e137";
}
.glyphicon-filter:before {
    content: "\e138";
}
.glyphicon-briefcase:before {
    content: "\e139";
}
.glyphicon-fullscreen:before {
    content: "\e140";
}
.glyphicon-dashboard:before {
    content: "\e141";
}
.glyphicon-paperclip:before {
    content: "\e142";
}
.glyphicon-heart-empty:before {
    content: "\e143";
}
.glyphicon-link:before {
    content: "\e144";
}
.glyphicon-phone:before {
    content: "\e145";
}
.glyphicon-pushpin:before {
    content: "\e146";
}
.glyphicon-usd:before {
    content: "\e148";
}
.glyphicon-gbp:before {
    content: "\e149";
}
.glyphicon-sort:before {
    content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}
.glyphicon-sort-by-order:before {
    content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}
.glyphicon-sort-by-attributes:before {
    content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}
.glyphicon-unchecked:before {
    content: "\e157";
}
.glyphicon-expand:before {
    content: "\e158";
}
.glyphicon-collapse-down:before {
    content: "\e159";
}
.glyphicon-collapse-up:before {
    content: "\e160";
}
.glyphicon-log-in:before {
    content: "\e161";
}
.glyphicon-flash:before {
    content: "\e162";
}
.glyphicon-log-out:before {
    content: "\e163";
}
.glyphicon-new-window:before {
    content: "\e164";
}
.glyphicon-record:before {
    content: "\e165";
}
.glyphicon-save:before {
    content: "\e166";
}
.glyphicon-open:before {
    content: "\e167";
}
.glyphicon-saved:before {
    content: "\e168";
}
.glyphicon-import:before {
    content: "\e169";
}
.glyphicon-export:before {
    content: "\e170";
}
.glyphicon-send:before {
    content: "\e171";
}
.glyphicon-floppy-disk:before {
    content: "\e172";
}
.glyphicon-floppy-saved:before {
    content: "\e173";
}
.glyphicon-floppy-remove:before {
    content: "\e174";
}
.glyphicon-floppy-save:before {
    content: "\e175";
}
.glyphicon-floppy-open:before {
    content: "\e176";
}
.glyphicon-credit-card:before {
    content: "\e177";
}
.glyphicon-transfer:before {
    content: "\e178";
}
.glyphicon-cutlery:before {
    content: "\e179";
}
.glyphicon-header:before {
    content: "\e180";
}
.glyphicon-compressed:before {
    content: "\e181";
}
.glyphicon-earphone:before {
    content: "\e182";
}
.glyphicon-phone-alt:before {
    content: "\e183";
}
.glyphicon-tower:before {
    content: "\e184";
}
.glyphicon-stats:before {
    content: "\e185";
}
.glyphicon-sd-video:before {
    content: "\e186";
}
.glyphicon-hd-video:before {
    content: "\e187";
}
.glyphicon-subtitles:before {
    content: "\e188";
}
.glyphicon-sound-stereo:before {
    content: "\e189";
}
.glyphicon-sound-dolby:before {
    content: "\e190";
}
.glyphicon-sound-5-1:before {
    content: "\e191";
}
.glyphicon-sound-6-1:before {
    content: "\e192";
}
.glyphicon-sound-7-1:before {
    content: "\e193";
}
.glyphicon-copyright-mark:before {
    content: "\e194";
}
.glyphicon-registration-mark:before {
    content: "\e195";
}
.glyphicon-cloud-download:before {
    content: "\e197";
}
.glyphicon-cloud-upload:before {
    content: "\e198";
}
.glyphicon-tree-conifer:before {
    content: "\e199";
}
.glyphicon-tree-deciduous:before {
    content: "\e200";
}

.site-error img
{
    margin: 100px 0px 100px 250px;
}

.index-banner
{
    margin: 0 auto 0px;
}
.shortcut_box_item img
{
    border:1px solid #cccccc;
}

/*add some shadow to the brands imags*/
.shortcut_box_item img:hover
{
	-moz-box-shadow: 0 0 10px #8896e4; -webkit-box-shadow: 0 0 10px #8896e4; box-shadow: 0 0 10px #8896e4;
}

.wrapper {
	margin:10px auto 10px;
	width:1196px;
}

.sales img
{
    width:20px;
    height: 20px;
    vertical-align: bottom;
}

.country
{
    color: #9e9e9e;
    left: 10px;
    position: absolute;
    top: 93px;
}

.country img
{
    width:32px;
    height: 32px;
}