.breadcrumbs {
    padding:0 5px 0 0;
    line-height:38px;
    color:#666
}
.breadcrumbs .menus {
    float:left
}
.breadcrumbs .menus a {
    margin-right:6px
}
.breadcrumbs .right {
    float:right;
    color:#bbb
}
.breadcrumbs .right i {
    font-size:20px;
    margin-right:5px;
    vertical-align:-2px
}
.breadcrumbs .right .code {
    color:#fafafa;
    margin-right:30px;
    display:inline-block
}
.detail {
    border:1px solid #d9dbe8;
    border-top-color:#666;
    background:#fff url(../images/seemore-bg.png?0701) right 0 repeat-y
}
.detail_img {
    width:410px;
    position:relative;
    float:left
}
.detail_brand {
    display:none
}
.detail_img .pic_view {
    width:380px;
    height:380px;
    margin:20px auto 0;
    position:relative
}
.detail_img .pic_view img {
    width:380px;
    height:380px
}
#pic-view {
    position:absolute;
    top:0;
    left:0;
    z-index:2
}
.item-thumbs {
    padding:15px 0;
    height:58px;
    overflow:hidden;
    position:relative
}
.item-thumbs ul {
    text-align:center;
    height:58px;
    width:330px;
    overflow:hidden;
    padding-left:8px;
    margin:0 auto
}
.item-thumbs li {
    width:40px;
    height:40px;
    overflow:hidden;
    border:1px solid #ddd;
    margin:0;
    margin-right:8px;
+zoom: 1;
    cursor:pointer;
    padding:8px;
    float:left
}
.item-thumbs li.current {
    border-color:#3a4e9e
}
.item-thumbs li img {
    width:40px;
    height:40px
}
.item-thumbs div.arrow {
    position:absolute;
    position:absolute;
    top:0px;
    color:#3a4e9e
}
.item-thumbs a.left_btn, .item-thumbs a.right_btn {
    position:absolute;
    color:#999;
    display:block;
    height:58px;
    line-height:58px;
    font-size:16px;
    top:15px
}
.item-thumbs a.left_btn:hover, .item-thumbs a.right_btn:hover {
    text-decoration:none;
    color:#ccc
}
.item-thumbs a.left_btn {
    left:20px
}
.item-thumbs a.right_btn {
    right:20px
}
.seemore_items {
    float:right;
    width:205px;
    padding:15px 0
}
.seemore_items h3 {
    position:relative;
    font-size:14px;
    color:#999;
    width:132px;
    margin:0 auto
}
.seemore_items h3 a {
    position:absolute;
    right:0;
    top:-3px;
    font-size:24px;
    line-height:24px;
    color:#999
}
.seemore_items h3 a:hover {
    text-decoration:none;
    color:#3a4e9e
}
.seemore_items .bd {
    width:132px;
    height:425px;
    position:relative;
    overflow:hidden;
    margin:10px auto 0
}
.seemore_items li {
    margin-bottom:13px;
    height:132px;
    overflow:hidden
}
.seemore_items li a {
    display:block;
    width:130px;
    height:130px;
    border:1px solid #ccc;
    position:relative
}
.seemore_items li a img {
    width:130px;
    height:130px;
    background-color:#fff;
    vertical-align:top
}
.seemore_items li a p {
    position:absolute;
    top:100px;
    left:0;
    height:30px;
    line-height:30px;
    opacity:0.8;
    filter:Alpha(opacity=80);
    background-color:#fff;
    font-size:14px;
    padding-left:10px;
    width:120px
}
.item-info {
    float:left;
    width:570px;
    color:#999;
    position:relative
}
.item-info dl {
    min-height: 425px;
    padding-bottom:30px;
}
.item-info dl.loaded {
    height:auto;
    background:none
}
.item-info .product_name {
    color:#333;
    margin:0 15px;
    padding:18px 6px 0;
    border-bottom:1px solid #F4F4F4
}
.item-info .product_name h1 {
    font-size:18px
}
.item-info .product_name h1 span.free {
    background-color:#48b7ae;
    color:#fff;
    margin-left:8px;
    text-align:center;
    border-radius:2px;
    display:inline-block;
    height:22px;
    line-height:21px;
    color:#fff;
    font-size:14px;
    font-weight:normal;
    width:66px
}
.item-info .product_name .desc {
    line-height:18px;
    padding:6px 0 12px;
    display:block
}
.item-info .product_name .desc span.red {
    margin-right:13px
}
.item-info dd {
    padding:10px 16px 0 20px
}
.item-info dd .lbl {
    display:inline-block;
    width:52px;
    color:#666
}
.item-info dd li {
    padding:5px 0;
    position:relative;
    width:100%;
}
.item-info dd li .icon_promo, .item-info dd li span.t_ico {
    background-color:#3a4e9e;
    color:#fff;
    display:inline-block;
    height:20px;
    line-height:20px;
    margin-right:10px;
    padding:0 5px;
    border-radius:2px;
    overflow:hidden;
    vertical-align:middle
}
.item-info dd li span.t_ico {
    width:66px;
    text-align:center;
    font-size:14px;
    padding:0 0 1px
}
.item-info dd li .icon_promo {
    position:relative;
    top:-4px
}
.item-info dd li span.xszk {
    background:#fa6569;
    position:relative;
    top:-4px;
    font-size:12px
}
.item-info dd li span.mj {
    background:#95ce67
}
.item-info dd li span.mz {
    background:#fdb64a;
    top:-2px
}
.item-info dd li span.link {
    display:inline-block;
    vertical-align:middle;
    padding-left:5px
}
.item-info dd li span.link a {
    color:#39f;
    text-decoration:underline
}
.item-info dd li span.link a:hover {
    color:#72b7fb
}
.item-info dd li em.cancel {
    text-decoration:line-through
}
.item-info dd li em.red {
    margin:0 4px
}
.item-info dd li em.red a {
    color:#b61d1d
}
.item-info dd li span
{
    vertical-align: middle;
}
.item-info .property .unit {
    display:inline-block
}
.item-info .property .unit em {
    color:#666;
    margin-right:4px
}
.item-info .property .unit em.rmb {
    font-size:14px
}
.item-info .property .unit em.red {
    color:#b61d1d;
    margin:0
}
.item-info .property .nala_price {
    font-size:24px;
    font-family:Arial;
    font-weight:bold;
    padding:0 10px 0 0;
    line-height:28px
}
.ping_star, .ping_star i {
    background:url(../images/star-small.png) 0 0 repeat-x
}
.ping_star {
    display:inline-block;
    width:70px;
    height:12px;
    overflow:hidden
}
.ping_star i {
    display:inline-block;
    width:0px;
    height:12px;
    overflow:hidden;
    background-position:0 -21px;
    vertical-align:top
}
.item-info dd.tobuy-box .lbl {
    float:left;
    width:50px;
    margin-top:6px
}
.sku_box .sku_list {
    float:left;
    width:470px;
    padding:5px;
    -webkit-transition:background-color .1s;
    -moz-transition:background-color .1s;
    -o-transition:background-color .1s;
    -ms-transition:background-color .1s;
    transition:background-color .1s
}
.sku_box .sku_list a {
    display:block;
    zoom:1;
    float:left;
    height:18px;
    line-height:18px;
    padding:0 6px;
    border:1px solid #e7e7e7;
    background-color:#fff;
    color:#999;
    position:relative;
    margin:0 15px 6px 0;
    border-radius:2px;
    white-space:nowrap
}
.sku_box .sku_list a span {
    visibility:hidden;
    background:#3a4e9e url(../images/gou-ico.png) 1px 4px no-repeat;
    display:block;
    height:0;
    overflow:hidden;
    padding-top:20px;
    position:absolute;
    right:-11px;
    top:-1px;
    width:12px;
    border-radius:0 2px 2px 0
}
.sku_box .sku_list a:hover {
    border-color:#ff7d00;
    color:#3a4e9e;
    text-decoration:none
}
.sku_box .sku_list a.selected {
    border-color:#3a4e9e;
    color:#333
}
.sku_box .sku_list a.selected span {
    visibility:visible
}
.sku_box .warn-color {
    background-color:#fc9
}
.skunum_li {
    margin-bottom:15px
}
.skunum {
    float:left;
    height:32px;
    font-size:0;
    overflow:hidden;
    padding-left:5px
}
.skunum span {
    float:left;
    display:block;
    width:28px;
    height:30px;
    border:1px solid #ccc;
    background-color:#eee;
    text-align:center;
    font-size:20px;
    overflow:hidden;
    line-height:28px;
    color:#777;
    cursor:pointer
}
.skunum span.add {
    margin-left:-2px
}
.skunum span:active {
    background-color:#ccc
}
.skunum input {
    float:left;
    display:block;
    width:66px;
    height:14px;
    padding:8px 0;
    line-height:14px;
    border:none;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align:center;
    font-size:14px;
    background-color:#fff
}
.skunum cite {
    margin-left:5px;
    color:#999;
    font-size:12px;
    padding-top:10px;
    float:left
}
.skunum cite em {
    margin:0 4px
}
.tobuy-box .add_cart_li p {
    margin-bottom:5px
}
.tobuy-box .add_cart_li .btn, .tobuy-box .add_cart_li .graybtn {
    font-size:16px;
    padding:10px 20px 12px
}
.tobuy-box .add_cart_li .graybtn {
    margin-left:12px;
    font-size:14px
}
.tobuy-box .add_cart_li i.iconfont {
    vertical-align:1px;
    margin-right:4px
}
.tobuy-box .add_cart_li .off {
    background-color:#E9E9E9;
    font-size:16px;
    color:#bbb;
    display:inline-block;
    padding:7px 20px 9px;
    vertical-align:middle
}
.shop_ewm {
    position:relative;
    z-index:0
}
.shop_ewm_img {
    width:145px;
    border:1px solid #ccc;
    background:#fff;
    position:absolute;
    top:5px;
    right:-13px;
    z-index:200;
    cursor:pointer
}
.shop_ewm_img .h_d {
    height:38px
}
.shop_ewm_img .h_d .iconfont {
    font-size:20px;
    _font-size:18px;
    line-height:38px;
    margin-left:10px;
    display:inline-block;
    float:left
}
.shop_ewm_img .h_d p {
    width:75px;
    float:left;
    line-height:15px;
    padding-top:5px;
    margin-left:8px
}
.shop_ewm_img .h_d p span {
    display:block;
    width:auto;
    padding:0;
    height:auto;
    background:none;
    font-size:12px;
    vertical-align:inherit;
    margin:0
}
.shop_ewm_img .h_d p.fan i {
    color:#3a4e9e
}
.shop_ewm_img .h_d p.app i {
    color:#78C5F6
}
.shop_ewm_img .h_d .min-ico {
    display:block;
    float:right;
    font-size:12px;
    margin-right:10px
}
.shop_ewm_img div.ewm_img_box {
    border-top:1px solid #ccc;
    text-align:center;
    line-height:28px;
    padding-top:17px;
    display:none
}
.shop_ewm_img img {
    display:block;
    margin:0 auto
}
#fav-btn i {
    color:#999;
    font-size:16px
}
#fav-btn:hover, #fav-btn:hover i {
    color:#3a4e9e
}
#fav-btn.fav-btn-ok {
    background:#f4f4f4;
    color:#bbb
}
#fav-btn.fav-btn-ok i {
    color:#bbb
}
#fav-btn.fav-btn-ok:hover, #fav-btn.fav-btn-ok:hover i {
    color:#bbb
}
.timedown {
    margin-left:30px
}
.timedown i {
    font-size:20px;
    color:#3a4e9e;
    margin-right:5px;
    font-weight:bold
}
.timedown em {
    font-size:14px;
    color:#3a4e9e;
    margin:0 3px;
    font-family:arial
}
.item-info .add_cart_li span {
    display:inline-block;
    width:90px;
    padding:12px 0 0 46px;
    height:31px;
    color:#999;
    font-size:14px;
    vertical-align:middle;
    background:url(../images/quehuo_dialog_bg.png) 0 -70px no-repeat;
    margin-right:8px;
    margin-left:5px
}
.item-info .quehuo_li .graybtn {
    padding:11px 32px;
    font-size:14px;
    display:none
}
.membership {
    position:absolute;
    right:0;
    top:12px;
    color:#999
}
.membership:hover {
    text-decoration:none
}
.membership i {
    font-size:14px;
    color:#bbb
}
.membership_con {
    width:254px;
    z-index:600;
    overflow:hidden;
    position:absolute;
    top:32px;
    right:0;
    border:1px solid #e7e7e7;
    padding-top:5px;
    background-color:#fff;
    line-height:18px
}
.membership_con h3 {
    color:#333;
    font-size:16px;
    padding:8px 0;
    margin:0 15px
}
.membership_con p {
    margin:0 15px
}
.membership_con .how-bd {
    background-color:#f8f8f8;
    padding:0 0 4px;
    margin-top:15px
}
.membership_con .how-bd h3 {
    border-bottom:1px solid #e7e7e7
}
.membership_con table {
    margin:4px 15px;
    vertical-align:top
}
.membership_con table td {
    color:#333
}
.membership_con p.gray a {
    color:#333;
    font-weight:bold;
    margin-left:5px
}
.membership_jifen {
    padding-left:45px;
    width:150px;
    padding-bottom:8px
}
.membership_jifen i.iconfont {
    font-size:30px;
    position:absolute;
    left:15px;
    top:15px
}
.privileges {
    padding:0 0 15px 10px
}
.privileges li {
    float:left;
    padding:0 10px;
    height:17px;
    line-height:17px;
    overflow:hidden;
    position:relative;
    color:#bbb;
    border-right:1px dotted #ccc
}
.privileges li a {
    color:#bbb
}
.privileges li a:hover {
    color:#3a4e9e;
    text-decoration:none
}
.privileges li a i.iconfont {
    font-size:16px;
    margin-right:5px
}
.privileges .brand_entrance {
    float:right
}
.privileges .brand_entrance i.iconfont {
    vertical-align:1px;
    margin-right:4px
}
.privileges .brand_entrance a {
    color:#999;
    padding-bottom:5px
}
.privileges .brand_entrance a:hover {
    color:#333;
    text-decoration:none
}
.privileges .brand_entrance span {
    margin-left:10px
}
.detail_bgcolor {
    padding-top:16px;
    padding-bottom:40px
}
.taocan_box {
    margin-bottom:15px
}
.taocan_box .hd {
    height:30px
}
.taocan_box .hd strong {
    font-size:16px;
    font-weight:400;
    margin-right:10px
}
.taocan_box .hd span {
    color:#999
}
.taocan_tabs .icon_step, .taocan_panels .plus, .taocan_panels .equal {
    background:url(../images/taocan_bg.png?1121) no-repeat 0 -9999px
}
.taocan_tabs .icon_step {
    display:inline-block;
    width:16px;
    height:15px;
    line-height:15px;
    color:#FFF;
    font-weight:bold;
    background-position:0 -85px;
    text-align:center;
    margin-left:5px
}
.taocan_tabs li a {
    font-size:14px
}
.taocan_tabs li.current a {
    background-color:#fff;
    border-bottom-color:#fff
}
.taocan_tabs li.current .icon_step {
    background-position:0 -40px
}
.taocan_panels {
    border:1px solid #ccc;
    border-top:none;
    background-color:#FFF;
    height:215px;
    overflow:hidden
}
.taocan_panels .panel {
    padding:20px 30px;
    display:none
}
.taocan_panels h4 {
    color:#666;
    font-size:14px;
    height:20px;
    overflow:hidden;
    margin-bottom:15px
}
.taocan_panels li {
    float:left;
    width:150px;
    overflow:hidden;
    text-align:center;
    margin-right:20px
}
.taocan_panels li .pic img {
    width:90px;
    height:90px;
    border:solid 1px #ccc
}
.taocan_panels li .name a, .taocan_panels li .price {
    color:#999
}
.taocan_panels li p {
    margin-top:2px
}
.taocan_panels li.plus, .taocan_panels li.equal {
    width:20px;
    height:20px;
    margin-top:43px;
    background-position:0 0
}
.taocan_panels li.equal {
    background-position:0 -128px;
    margin-right:60px;
    margin-left:15px
}
.taocan_panels .price_info {
    width:300px;
    text-align:left;
    color:#666;
    font-size:14px
}
.taocan_panels .price_info .count {
    margin-bottom:10px
}
.taocan_panels .price_info .count b {
    font-size:16px
}
.taocan_panels .price_info .buy {
    margin-top:15px
}
.taocan_panels .price_info .buy .btn {
    padding:8px 20px
}
.sectionbox h2.tit {
    background:url(../images/spxq_nav_bg.png) 0 0 no-repeat;
    height:27px;
    padding:0 15px;
    margin-bottom:10px;
    margin-top:25px
}
.sectionbox h2.tit span {
    background:url(../images/spxq_nav_bg_t.png?0425) -9999px 0 no-repeat;
    display:block;
    height:0;
    padding-top:27px;
    overflow:hidden
}
.sectionbox h2.tit1 span {
    background-position:0 -52px
}
.sectionbox h2.tit2 span {
    background-position:0 -80px
}
.sectionbox h2.tit3 span {
    background-position:0 -108px
}
.sectionbox h2.tit4 span {
    background-position:0 -136px
}
.sectionbox h2.tit5 span {
    background-position:0 -164px
}
.sectionbox h2.tit6 span {
    background-position:0 -192px
}
.sectionbox h2.tit7 span {
    background-position:0 -220px
}
.sectionbox h2.tit8 span {
    background-position:0 -248px
}
.sectionbox h2.tit9 span {
    background-position:0 -276px
}
.sectionbox h2.tit10 span {
    background-position:0 -304px
}
.sectionbox h2.tit11 span {
    background-position:0 -332px
}
.sectionbox h2.tit12 span {
    background-position:0 4px
}
.sectionbox h2.tit13 span {
    background-position:0 -24px
}
.sectionbox h2.tit14 span {
    background-position:0 -360px
}
.sectionbox div img {
    vertical-align:top
}
.sectionbox div img.img_error {
    width:300px;
    height:200px;
    background:url(../images/img_error.png) center center no-repeat;
    display:block
}
.sectionbox .ping_more a {
    display:block;
    margin-top:20px;
    height:31px;
    line-height:31px;
    text-align:center;
    font-weight:bold;
    background-color:#f4f4f4;
    border:1px solid #e4e4e4
}
.sectionbox .ping_more a span {
    color:#666;
    font-weight:normal
}
.sectionbox .ping_more a:hover {
    background-color:#eee;
    text-decoration:none
}
.spxq_main {
    font-size:14px;
    line-height:24px
}
.spxq_main .nala_say {
    line-height:28px;
    background:url(../images/nalasay-bg.jpg) 0 0 no-repeat;
    padding:0 20px 0 140px;
    min-height:110px;
+height: 110px
}
.spxq_main img {
    display:block;
    margin:0 auto;
    max-width:750px
}
.spxq_main .spxq_top {
    margin:25px 0 0;
    font-size:16px;
    color:#3a4e9e;
    font-weight:bold
}
.spxq_main .spxq_dec div {
    margin-bottom:20px
}
.spxq_main table {
    width:100%
}
.spxq_main table td {
    border:1px solid #e5e5e5;
    padding:5px 10px
}
.spxq_main table td.th {
    background-color:#f5f5f5;
    font-weight:bold;
    width:70px;
    text-align:right
}
.spxq_main table td strong {
    font-weight:400
}
.spxq_main table td img {
    width:200px;
    height:200px
}
.spxq_main table td div, .spxq_main table td span {
    display:block;
    margin-bottom:4px
}
.spxq_main h3 {
    font-size:20px;
    margin:20px 0 10px;
    color:#3a4e9e;
    border-bottom:1px solid #3a4e9e;
    padding-bottom:5px
}
.spxq_main p {
    margin-bottom:10px
}
#ppsqitem div {
    text-align:center
}
#addcart-success .panel_con {
    height:160px;
    padding-top:14px
}
#addcart-success .ok-txt {
    border-bottom:1px dashed #eee;
    margin-bottom:8px;
    padding-bottom:8px
}
#addcart-success .arrow-right {
    position:absolute;
    display:block;
    right:-13px;
    top:17px;
    width:0;
    height:0;
    overflow:hidden;
    border:6px solid transparent;
    border-left-color:#9699a2;
    _border-top-color:tomato;
    _border-right-color:tomato;
    _border-bottom-color:tomato;
    _filter:chroma(color=tomato)
}
.addcart-success-info {
    padding:20px 10px 20px 15px
}
.addcart-success-info p {
    margin-bottom:5px
}
.addcart-success-info b {
    font-size:14px
}
.addcart-success-info .gocart {
    padding-top:10px
}
.quehuo-form {
    width:400px
}
.quehuo-form div {
    padding:8px 0
}
.quehuo-form div input {
    width:200px;
    padding:8px;
    height:16px;
    overflow:hidden;
    border:1px solid #eee;
    border-top-color:#ccc;
    box-shadow:0px 1px 3px rgba(200, 200, 200, 0.3) inset;
    color:#333;
    font-size:14px;
    margin-left:3px;
    vertical-align:middle
}
.quehuo-form .submit {
    padding-left:64px;
    font-size:14px
}
.quehuo-form .submit a {
    display:block;
    background-position:0 -40px;
    width:58px;
    height:24px;
    line-height:24px;
    overflow:hidden;
    text-align:center
}
.same_effect {
    border:1px solid #E6E6E6;
    width:756px;
    padding:20px 16px;
    margin:10px 0
}
.same_effect .titlebar h3 {
    font-size:16px
}
.same_effect .product_list {
    padding-left:12px
}
.same_effect .product_list .item {
    float:left;
    _display:inline;
    padding:10px;
    width:150px;
    position:relative;
    margin:0 8px;
    height:277px
}
.same_effect .product_list .item:hover {
    background-color:#F6F6F6
}
.same_effect .product_list .bg_gray {
    background-color:#F6F6F6
}
.same_effect .product_list .item .price {
    color:#3a4e9e
}
.same_effect .product_list .item .price em {
    font-size:18px;
    font-weight:bold;
    margin-left:3px
}
.same_effect .product_list .item .pic_wrap {
    width:150px;
    height:150px;
    overflow:hidden;
    margin-bottom:6px
}
.same_effect .product_list .item .pic_wrap img {
    max-width:150px;
    max-height:150px
}
.same_effect .product_list .item .product_name {
    line-height:20px;
    display:block;
    height:40px;
    overflow:hidden;
    text-decoration:none
}
.same_effect .product_list .item .desc {
    color:#999
}
.same_effect .product_list .item .traded {
    color:#999
}
.same_effect .product_list .item .traded em {
    color:#3a4e9e
}
.same_effect .product_list .item .add_cart_lnk {
    right:16px;
    top:170px
}
#zheng_main img {
    display:block;
    margin:5px auto
}
.intro-pic .hd a.on0 {
    background-position:-68px -1px
}
.intro-pic .hd a.on1 {
    background-position:-164px -1px
}
.intro-pic .hd a.on2 {
    background-position:-262px -1px
}
.intro-pic .hd a.on3 {
    background-position:-359px -1px
}
.intro-pic .hd a.on4 {
    background-position:-457px -1px
}
.intro-pic .hd a.on5 {
    background-position:-556px -1px
}
.intro-pic .hd a.on6 {
    background-position:-653px -1px
}
.intro-pic .bd {
    padding-top:1px;
    overflow:hidden
}
.intro-pic .bd .pic {
    display:none;
    font-size:0
}
.intro-pic .bd .pic img {
    margin:5px auto;
    display:block
}
.ask-form {
    margin-bottom:20px
}
.ask-form .fl {
    width:470px
}
.ask-form .fr {
    width:250px;
    color:#999
}
.ask-form textarea {
    display:block;
    margin-bottom:10px;
    width:450px;
    padding:5px;
    height:75px;
    overflow-y:auto;
    border:1px solid #eee;
    border-top-color:#ccc;
    box-shadow:0px 1px 3px rgba(200, 200, 200, 0.3) inset;
    color:#333
}
.ask-list {
    zoom:1
}
.ask-list dl {
    padding-bottom:15px;
    width:100%
}
.ask-list dt {
    background:url(../images/wen-ico.png) 0 2px no-repeat;
    padding:0 250px 12px 25px;
    position:relative;
    z-index:10
}
.ask-list dt h3 {
    font-weight:bold
}
.ask-list dt .q-info {
    position:absolute;
    right:15px;
    top:3px;
    color:#bbb
}
.ask-list dt .q-info .time {
    margin-left:10px
}
.ask-list dd {
    position:relative;
    z-index:1;
    zoom:1;
    background-color:#f8f8f8;
    padding:0 15px 15px
}
.ask-list dd .arrow {
    position:absolute;
    top:-22px;
    left:7px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    border-width:12px 8px;
    border-style:solid;
    border-color:#fff #fff #f8f8f8 #fff
}
.ask-list .ans-bd {
    padding-top:15px
}
.ask-list .ans-bd .author {
    float:left;
    width:60px;
    overflow:hidden;
    text-align:right
}
.ask-list .ans-nala .author {
    color:#3a4e9e
}
.ask-list .ans-bd .con {
    margin-left:62px;
    padding-right:180px;
    position:relative;
    zoom:1
}
.ask-list .ans-bd .con .time {
    position:absolute;
    right:0;
    top:0;
    color:#bbb
}
.ask-list .ans-bd .con a:hover {
    color:#111
}
.ask-list .ans-bd .con a.from, .ask-list .ans-bd .con a.from:hover {
    color:#3a4e9e
}
.ask-list dd .more-link {
    text-align:right
}
.ask-list dd .more-link a.graybtn {
    padding:3px 8px
}
.ask-list .pagenav a {
    margin-left:2px
}
.to-detail-link {
    border:1px solid #e4e4e4;
    background-color:#f1f1f1;
    text-align:center;
    font-size:20px;
    padding:15px;
    margin-bottom:10px
}
.act_content {
    display:none
}
.spxq_picc {
    background-color:#f8f8f8;
    padding-bottom:10px
}
.spxq_picc h3 {
    background-color:#3a4e9e;
    text-align:center;
    height:50px;
    line-height:50px;
    font-size:25px;
    color:#fff
}
.spxq_picc p {
    padding:30px 0 30px 30px;
    background-color:#fff;
    margin:10px 10px 0
}
.spxq_picc p img {
    vertical-align:top
}
.z-detail-left {
    width:970px;
    float:left
}
.tabs_bar_warp {
    height:50px;
    width:970px
}
.tabs_bar {
    height:48px;
    width:968px;
    background:#f3f3f3;
    border:1px solid #ccc;
    z-index:999;
    top:0
}
.tabs_bar ul {
    width:100%;
    height:48px
}
.tabs_bar ul li {
    _bottom:-1px;
    z-index:999;
    position:relative;
    display:block;
    float:left;
    height:48px;
    line-height:48px
}
.tabs_bar ul li a {
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:0 35px;
    display:block
}
.tabs_bar ul li a:hover {
    text-decoration:none;
    background:#fff
}
.tabs_bar ul li.current_select a {
    text-decoration:none;
    background:#fff;
    border-bottom:1px solid #fff
}
.tabs_bar ul li a em {
    color:#3a4e9e;
    font-weight:bold
}
.tabs_bar li.tab-buy {
    color:#3a4e9e;
    float:right;
    padding-right:94px;
    position:relative;
    text-align:right;
    width:200px;
    margin-right:0;
    visibility:hidden
}
.tabs_bar li.tab-buy strong {
    font:24px/48px arial;
    padding:0 4px
}
.tabs_bar li.tab-buy a.btn {
    position:absolute;
    right:8px;
    top:6px;
    font-size:16px;
    height:23px;
    line-height:22px;
    padding:5px 12px
}
.tabs_bar li.tab-buy a.btn:hover {
    background:#f37100
}
.tabs_bar li.tab-buy a.graybtn {
    position:absolute;
    right:8px;
    top:8px;
    height:30px;
    line-height:30px;
    cursor:default;
    background:#e5e5e5;
    padding:0 12px;
    border-color:#ddd;
    box-shadow:none
}
.tabs_bar li.tab-buy a.graybtn:hover {
    background:#e5e5e5
}
.fixed li.tab-buy {
    visibility:visible
}
.z-box {
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    border-top:0
}
.z-detail-point-box {
    border:1px solid #ccc
}
.z-detail-point-box-left {
    padding:20px;
    width:520px;
    height:110px;
    overflow:hidden;
    float:left
}
.z-points {
    width:158px;
    border-right:1px solid #ccc;
    height:110px;
    float:left
}
.z-all-points {
    font-size:24px;
    text-align:center;
    height:40px;
    line-height:40px
}
.z-all-points b {
    color:#3a4e9e;
    font-size:26px
}
.z-all-people {
    text-align:center;
    font-size:14px;
    line-height:25px
}
.z-all-people em {
    color:#3a4e9e
}
.z-point-list {
    width:360px;
    padding-top: 15px;
    float:right
}
.z-point-list ul li {
    height:25px;
    line-height:20px;
    margin:2px 0;
    font-size:14px;
    overflow:hidden
}
.z-point-list ul li label {
    display:inline-block;
    width:110px;
    text-align:right;
    float:left
}
.z-point-list ul li p {
    float:left;
    background:#ddd;
    width:200px;
    height:14px;
    margin:3px 0
}
.z-point-list ul li p span {
    display:block;
    width:100%;
    background:#3a4e9e;
    height:14px
}
.z-point-list ul li em {
    color:#3a4e9e;
    margin-left:10px
}
.z-detail-point-box-right {
    width:365px;
    height:134px;
    border-left:1px solid #ccc;
    background:#fcfcfc;
    float:right;
    font-size:14px;
    padding-top:16px
}
.z-detail-point-box-right div {
    padding:5px 20px;
    line-height:20px
}
.z-detail-point-box-right div a.go_btn {
    position:absolute;
    right:10px;
    top:3px
}
.z-detail-point-box-right div.good_com_box {
    position:relative;
    z-index:99
}
.z-detail-point-box-right div a.good_com {
    color:#3a4e9e;
    margin-right:5px
}
.z-detail-point-box-right div.good_com_box .good_com_tips {
    position:absolute;
    width:200px;
    padding:15px;
    border:1px solid #ffb97c;
    line-height:20px;
    color:#666;
    background:#fff7f0;
    left:22px;
    _left:1px;
    top:30px;
    display:none
}
.z-arrow {
    position:absolute;
    top:-8px;
    left:15px;
    width:12px;
    height:24px
}
.z-arrow i {
    font-family:"SimSun";
    overflow:hidden;
    font-size:12px;
    line-height:1.231;
    display:block;
    height:12px
}
.z-arrow-line {
    color:#ffb97c
}
.z-arrow-bg {
    color:#fff7f0;
    margin-top:-11px
}
.big_star, .big_star i {
    height:22px;
    background-image:url(../images/big_star.png);
    background-repeat:repeat-x;
    display:block
}
.big_star {
    width:128px;
    margin:10px auto;
    background-position:0 -32px
}
.big_star i {
    line-height:22px;
    overflow:hidden;
    background-position:0 0;
    width:100%
}
.min_star {
    padding-top:6px;
    *padding-top:10px;
    height:23px;
    line-height:23px
}
.z-detail-com-box {
    margin-top:20px;
    border:1px solid #ccc;
    padding-bottom:20px
}
.z-com-box-head {
    height:50px;
    border-bottom:1px solid #ccc;
    background:#f3f3f3;
    padding:0 20px;
    line-height:50px;
    font-size:14px
}
.z-select {
    float:right;
    height:30px;
    margin-top:9px;
    line-height:30px
}
.select-box {
    position:relative;
    border:1px solid #ccc;
    background:#fff;
    width:100px;
    float:left;
    margin-left:10px;
    padding:3px 5px;
    border-radius:3px;
    font-size:14px
}
.z-com-list {
    padding:20px
}
.z-com {
    margin-bottom:20px
}
.z-com-left {
    width:60px;
    float:left;
    height:100px;
    margin:0 10px;
    _display:inline
}
.z-com-left img {
    display:block;
    margin:0 auto
}
.z-com-left .u-name {
    width:60px;
    height:25px;
    line-height:25px;
    overflow:hidden;
    color:#3a4e9e;
    display:block;
    text-align:center;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden
}
.z-com-left .vip-ico-img {
    width:42px;
    height:9px;
    display:block;
    background-repeat:no-repeat;
    background-image:url(../images/comment-vip-ico.png);
    overflow:hidden;
    margin:0 auto
}
.z-com-left .vip-ico {
    background-position:0 -11px
}
.z-com-left .svip-ico {
    background-position:0 0
}
.z-com-right {
    padding:0 20px 5px 20px;
    border:1px solid #ccc;
    float:right;
    width:750px;
    position:relative;
    border-radius:2px
}
.z-com-right-head {
    height:33px;
    line-height:33px;
    border-bottom:1px solid #ccc;
    margin-bottom:12px
}
.z-com-right-head span {
    margin-right:10px;
    color:#999;
    float:left
}
.z-com-right-head span.com-time {
    float:right
}
.z-coms {
    line-height:22px;
    float:left;
    width:100%
}
.z-coms-text {
    min-height:50px;
    _height:50px
}
.z-coms-text a {
    color:#3a4e9e;
    text-decoration:none
}
.z-coms-img {
    margin-top:15px
}
.z-coms-img img {
    width:94px;
    height:94px;
    margin:0 10px 10px 0;
    border:1px solid #ccc
}
.z-coms-other {
    width:100%;
    height:30px;
    line-height:30px
}
.z-com-gg {
    color:#999;
    float:left
}
.z-com-click {
    float:right;
    color:#999
}
.z-com-click a {
    margin:0 5px;
    color:#3a4e9e
}
.z-com-click a:hover {
    text-decoration:none
}
.left_arrow {
    position:absolute;
    top:11px;
    left:-6px;
    width:24px;
    height:12px
}
.left_arrow i {
    font-family:"SimSun";
    overflow:hidden;
    font-size:12px;
    line-height:1.231;
    display:block;
    height:12px;
    float:left
}
.left_arrow-line {
    color:#ccc
}
.left_arrow-bg {
    color:#fff;
    margin-left:-10px
}
.face_img {
    width:30px;
    height:30px;
    border-radius:30px;
    transition: .8s ease all;
    -webkit-transition: .8s ease all;
    -moz-transition: .8s ease all
}
.face_img:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg)
}
.z-com-hf {
    border:1px solid #ccc;
    margin:10px 0 20px 0;
    padding:10px 20px;
    position:relative;
    border-radius:2px;
    zoom:1
}
.z-com-input {
    line-height:30px;
    margin-top:5px;
    width:100%;
    position:relative
}
.z-com-input-box {
    border:1px solid #ffba7d;
    min-height:28px;
    _height:28px;
    border-radius:2px;
    position:relative;
    padding:0 5px;
    width:auto
}
.z-com-input-box label {
    color:#999;
    display:block;
    float:left;
    height:30px;
    line-height:30px;
    position:absolute;
    top:0px;
    left:10px;
    width:80px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.z-com-input-box textarea {
    width:100%;
    max-width:100%;
    min-width:100%;
    line-height:20px;
    height:20px;
    border:1px solid #fff;
    display:block;
    margin-top:4px;
    overflow-y:hidden;
    word-break:break-all
}
.hf_btn {
    padding:6px 20px;
    position:absolute;
    right:0;
    top:0
}
.top_arrow {
    position:absolute;
    top:-7px;
    right:35px;
    font-family:"SimSun";
    font-size:12px;
    width:12px;
    height:24px
}
.top_arrow i {
    font-family:"SimSun";
    overflow:hidden;
    font-size:12px;
    line-height:1.231;
    display:block;
    height:12px;
    float:left
}
.top_arrow-line {
    color:#ccc
}
.top_arrow-bg {
    color:#fff;
    margin-top:-10px
}
.hf_list {
    padding:15px 0
}
.hf_list ul li {
    border-bottom:1px solid #e2e2e2;
    line-height:30px;
    padding-bottom:12px;
    display:block;
    margin-bottom:15px;
    zoom:1;
    background:#fff
}
.hf_list ul li span {
    display:inline-block
}
.hf_list ul li span.hf_face {
    width:30px;
    height:30px;
    position:absolute;
    left:0;
    top:0
}
.hf_list ul li span.hf_text {
    color:#999;
    margin-left:40px;
    word-break:break-all
}
.hf_list ul li span.hf_text .hf_name {
    color:#3a4e9e
}
.hf_list ul li span.hf_text i {
    margin:0 3px
}
.hf_list ul li span.hf_btn2 {
    width:45px;
    position:absolute;
    bottom:0;
    right:0
}
.hf_list ul li span.hf_btn2 a {
    padding:0;
    color:#3a4e9e;
    padding:0 10px
}
.hf_list ul li span.hf-at {
    margin:0 5px;
    color:#999
}
.hf_list ul li .hf2_box {
    margin-left:40px;
    zoom:1
}
.hf_list_li {
    position:relative
}
.z-detail-right {
    width:206px;
    float:right
}
.right_box {
    border:1px solid #ccc;
    background-color:#fff;
    margin-bottom:20px
}
.right_box .hd {
    border-bottom:1px solid #ccc;
    background:#f3f3f3 url(../images/temai_right_h3.png) 15px 12px no-repeat;
    height:40px;
    line-height:40px;
    overflow:hidden;
    font-size:14px;
    padding-left:30px
}
.right_box .hd strong {
    color:#3a4e9e;
    margin-right:10px;
    font-weight:400
}
.right_box .cms_list {
    margin:10px 14px
}
.right_box .cms_list li {
    height:24px;
    line-height:24px;
    list-style:disc inside;
    overflow:hidden;
    color:#999
}
.hot_items .bd {
    padding:0 14px
}
.hot_items li {
    border-bottom:1px dashed #ccc;
    padding-bottom:14px;
    margin-bottom:-1px
}
.hot_items li span {
    display:block
}
.hot_items li .nalaprice {
    color:#3a4e9e;
    font-size:14px;
    margin-top:2px
}
.hot_items li .nalaprice b {
    font-weight:400
}
.hot_items li .productimg {
    padding-top:10px;
    text-align:center
}
.hot_items li .productimg img {
    width:120px;
    height:120px;
    vertical-align:top
}
.class_tabs {
    width:204px;
    overflow:hidden;
    border:solid 1px #ccc;
    margin-bottom:20px
}
.class_tabs .hd ul {
    margin-right:-4px
}
.class_tabs .hd li {
    float:left;
    width:68px;
    height:28px;
    line-height:28px;
    padding:5px 0;
    background-color:#F5F5F5;
    border-bottom:solid 1px #ccc;
    border-right:1px solid #ccc;
    text-align:center;
    cursor:pointer;
    font-size:14px
}
.class_tabs .hd li.current {
    border-bottom-color:#fff;
    background-color:#fff
}
.class_tabs .bd {
    background-color:#fff
}
.class_tabs .bd ul {
    display:none
}
.class_tabs .bd li {
    padding:6px 10px;
    line-height:22px;
    font-size:0
}
.class_tabs .bd li a {
    display:inline-block;
    font-size:12px;
    margin:0 6px;
    color:#666;
    white-space:nowrap
}
.class_tabs .bd li a.root {
    color:#2E9CDC
}

.btn-attribute {
    background-color: #FFF !important;
    color: #000 !important;
    border-color: #C9C5C5 !important;
}